/* You can add global styles to this file, and also import other style files */
.flex{
	display: flex;
}
.flex.align-items-center{
	align-items: center;
}
.flex.space-between{
	justify-content: space-between;
}